/* Spacing Design Tokens in rem */

:root {
  /* Margins */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  /* Icon Size Tokens */
  --icon-size-xs: 0.75rem; /* 12px */
  --icon-size-sm: 1rem; /* 16px */
  --icon-size-md: 1.5rem; /* 24px */
  --icon-size-lg: 2rem; /* 32px */
  --icon-size-xl: 3rem; /* 48px */

  /* Horizontal Spacing */
  --spacing-h-xs: var(--spacing-xs);
  --spacing-h-sm: var(--spacing-sm);
  --spacing-h-md: var(--spacing-md);
  --spacing-h-lg: var(--spacing-lg);
  --spacing-h-xl: var(--spacing-xl);

  /* Vertical Spacing */
  --spacing-v-xs: var(--spacing-xs);
  --spacing-v-sm: var(--spacing-sm);
  --spacing-v-md: var(--spacing-md);
  --spacing-v-lg: var(--spacing-lg);
  --spacing-v-xl: var(--spacing-xl);
}
